/* generics */
:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    ---white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--violet);
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    color: var(---white);
    background-size: contain;
}

/* end generics */

/* header */
header {
    width: 370px;
}

header img {
    display: block;
    height: 100px;
    width: 120px;
    margin: 0 30px;
}

/* end header */

/* main */
main {
    width: 370px;
    margin: 40px auto;
}

.mockups img {
    width: 300px;
    display: block;
    margin: auto;
}

.description {
    margin: 40px auto;
}

.description h1 {
    width: 280px;
    margin: auto;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

.description p {
    width: 304px;
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    font-size: 16px;
    margin: 20px auto;
    text-align: center;
}

.description__cta {
    display: block;
    width: 200px;
    margin: auto;
    background-color: var(---white);
    border-radius: 20px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
    border-radius: 20px;
    color: var(--violet);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding: 10px 80px;
    text-align: center;
}

.social {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
}

/* fontawesome styling using their css tags */
.fa-brands {
    color: var(---white);
    border: 1px solid;
    padding: 10px;
    border-radius: 20px;
}

/* end fontawesome styling using their tags */

/* end main */


/* footer */
.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 20px;
}

.attribution a {
    color: var(--soft-magenta);
}

/* destop styling */
@media screen and (min-width: 800px) {
    body {
        font-family: "Poppins", sans-serif;
        background-color: var(--violet);
        background-image: url("../images/bg-desktop.svg");
        background-repeat: no-repeat;
        color: var(---white);
        background-size: cover;
    }

    header img {
        display: block;
        height: 140px;
        width: 180px;
        margin: 20px auto;
    }

    main {
        margin: 0;
        width: 90vw;
        display: grid;
        grid-template-areas:
            "img desc"
            "img desc"
            ".  social";
    }

    .mockups {
        grid-area: img;
        margin: 0;
    }

    .mockups img {
        width: 60%;
    }

    .description {
        margin: 20px auto;
        grid-area: desc;
        text-align: left;
    }

    .description h1 {
        text-align: left;
        margin: 10px auto;
        width: 480px;
        font-size: 40px;
    }

    .description p {
        text-align: left;
        margin: 10px auto;
        width: 480px;
    }

    .description__cta {
        width: 200px;
        margin: 30px 0;
        background-color: var(---white);
        border-radius: 20px;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
        border-radius: 20px;
        color: var(--violet);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        padding: 10px 80px;
        text-align: center;
    }

    .description__cta:active {
        background-color: var(--soft-magenta);
    }

    .social {
        display: flex;
        width: 480px;
        margin: 20px auto;
        grid-area: social;
        justify-content: flex-end;
        align-content: flex-end;
    }

    .social i:active {
        color: var(--soft-magenta);
    }

    .attribution {
        width: 90%;
        text-align: right;
    }

}