@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

:root {
  --dark-blue: #262E38;
  --light-grey: #969FAD;
  --medium-grey: #7C8798;
  --orange: #FC7614;
  --white: #ffffff;
  --very-dark-blue: #131518;
  --black: #000000;
  --radial-one: #232A34;
  --radial-two: #181E27;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

a:-moz-any-link {
  color: inherit;
  text-decoration: none;
}

a:any-link {
  color: inherit;
  text-decoration: none;
}

/* body styling */
body {
  background: radial-gradient(var(--radial-one), var(--radial-two));
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  color: var(--white);
}
.container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 4rem auto;
}

/* cards */
/* rating card */
.rating-card {
  width: 327px;
  height: 360px;
  background: var(--radial-one);
  border-radius: 15px;
  padding: 1.8rem;
}

.rating-card__img {
  background-color: var(--dark-blue);
  padding: 10px;
  border-radius: 50%;
}
.rating-card__hdr {
  font-size: 1.6em;
  padding: 1em 0;
}
.rating-card__para {
  font-size: 0.92em;
  color: var(--light-grey);
}
.rating-card__form {
  display: block;
  width: 285px;
  margin: 2rem auto;
}
.rating-card fieldset {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-content: space-between;
  margin: 0.8rem auto;
}
.rating-card__btn {
  background-color: var(--dark-blue);
  border-radius: 50%;
  color: var(--medium-grey);
  padding: 1rem;
  font-size: 0.94em;
}
.rating-card__btn:hover,
.rating-card__btn:active,
.btn-active {
  background-color: var(--medium-grey);
  color: var(--white);
}

.rating-card__submit {
  width: 280px;
  height: 45px;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 22.5px;
  font-size: 0.94em;
}

.rating-card__submit:hover,
.rating-card__submit:active {
  background-color: var(--white);
  color: var(--orange);
}

/* thank you card */

.thankyou-card {
  width: 327px;
  height: 360px;
  background: var(--radial-one);
  border-radius: 15px;
  padding: 2rem;
}
.thankyou-card__img {
  display: block;
  margin: auto;
  width: 144px;
  height: 96px;
  box-sizing: content-box;
  padding: 20px;
}

.thankyou-card__rating {
  background-color: var(--dark-blue);
  width: 180px;
  padding: 0.6rem 0;
  border-radius: 20px;
  font-size: 0.95em;
  color: var(--orange);
  text-align: center;
  margin: 1rem auto;
}

.thankyou-card__thanks {
  font-size: 1.6em;
  font-weight: bolder;
  color: var(--white);
  text-align: center;
  margin: 1rem auto;
}
.thankyou-card__para {
  color: var(--light-grey);
  text-align: center;
  font-size: 0.9em;
}

/* inactive */
.inactive {
  display: none;
}

/*  footer/attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}