/* generics */
:root {
    --purple-blue: hsl(228, 45%, 44%);
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);
    --white: hsl(0, 0%, 100%);
    --main-paragraph-white: hsla(0, 0%, 100%, 0.75);
    --stat-heading-white: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}
html {
    font-family: "Inter", sans-serif;
}
body {
    margin: 2rem auto;
    background-color: var(--very-dark-blue);
    color: var(--white);
}
/* end generics */

/* container */
.container {
    width: 325px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: var(--dark-desaturated-blue);
}

/* header */

header {
    background: var(--dark-desaturated-blue) url("../images/image-header-mobile.jpg") center / cover no-repeat border-box;
    /* padding: 10px; */
    width: auto;
    height: 240px;
    border-radius: 10px;
    background-blend-mode: soft-light;
}

/* main */
main {
    margin: 20px;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin: 2.8rem 0;
}
p {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.75;
}

/* .stats {
    padding: 2rem 0;
    text-transform: uppercase;
} */

.stats__items {
    padding: 2rem 0;
    text-transform: uppercase;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.stats__item-name {
    opacity: 0.75;
}

.stats__item-number {
    margin-top: 20px;
    display: block;
    font-size: 24px;
    font-weight: 700;
}

.insights {
    color: var(--soft-violet);
}


/* footer */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: var(--purple-blue); 
}

@media screen and (min-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "mn hdr";
        width: 1110px;
        height: 446px;
        margin-top: 10rem;
    }
    header {
        justify-self: end;
        grid-area: hdr;
        width: 540px;
        height: 446px;
        background-position: cover;
    }
    main {
        grid-area: mn;
        width: 375px;
    }
    h1 {
        font-size: 36px;
        text-align: left;
    }
    p {
        font-size: 15px;
        line-height: 25px;
        text-align: left;
    }
    .stats__items {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }

}