:root {
    --dark-green: hsl(192, 37%, 48%);
    --light-green: hsl(192, 90%, 77%);
    --white: hsl(0, 0%, 100%);
    --violet: hsl(268, 34%, 53%);
    --pale-violet: hsl(268, 100%, 86%);
    --greyish-blue: hsl(240, 10%, 57%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

svg {
    display: none;
}

body {
    font-family: "Red Hat Display", sans-serif;
}

/* header */

.logo img {
    margin: 60px auto;
    display: block;
}

.header-imgs {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.header-imgs__left {
    margin-left: -20px;
    height: 156px;
    width: auto;
}

.header-imgs__right {
    overflow: hidden;
    height: 156px;
    width: auto;
}

.intro {
    margin: 60px;
    font-size: 18px;
    text-align: center;
}

.intro p {
    color: var(--greyish-blue);
    padding: 40px 0;
}

.download__top {
    margin: 10px auto;
    display: inline-block;
    padding: 20px 60px;
    border-radius: 40px;
    background-color: var(--dark-green);
    color: var(--white);
}

.version__top {
    color: var(--light-green);
}


.what-is-it {
    margin: 10px auto;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 40px;
    background-color: var(--violet);
    color: var(--white);
}

.intermission svg {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.images {
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    margin: auto;
    justify-content: center;
}

.images__item {
    display: block;
    width: 151px;
    height: 143px;
    border-radius: 10px;
}

.features {
    margin: 4rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.features h2 {
    color: var(--dark-green);
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 2rem;
    letter-spacing: 4px;
    font-weight: 900;
}

.features h3 {
    font-size: 38px;
    text-align: center;
    line-height: 2.2rem;
}

.features p {
    font-size: 20px;
    color: var(--greyish-blue);
    text-align: center;
    line-height: 2rem;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    margin-top: -50px;
    padding: 100px 0;
    justify-content: center;
    align-content: center;
    gap: 30px;
    text-align: center;
    background: var(--dark-green) url("../assets/mobile/image-footer.jpg") center / cover no-repeat border-box;
    background-blend-mode: luminosity;
    opacity: 0.8;
    color: var(--white);
    position: relative;
    z-index: 2;
}

footer h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

footer p {
    font-size: 18px;
    text-align: center;
}

.download__bottom {
    display: inline-block;
    margin: auto;
    padding: 20px 60px;
    border-radius: 40px;
    background-color: var(--violet);
    color: var(--white);
    font-weight: 900;
}

.version__bottom {
    color: var(--pale-violet);
}

.attribution {
    text-align: center;
    /* color: var(--white); */
}

.attribution a:any-link {
    text-decoration: none;
    color: inherit;
}

.attribution a:hover,
.attribution a:active {
    text-shadow: 0 0 10px var(--dark-green);
}