/* generics*/
:root {
    --white: #ffffff;
    --black: #000000;
    --maroon: #800000;
    --attribution-colour: #3e52a3;
    /*    design colours */
    --dark-dark-blue: #28283D;
    --grey: #87879D;
    --sorta-green: #4D96A9;
    --active-sorta-green: #71C0D4;
    --purpul: #855FB1;
    --active-purpul: #B18BDD;
    --sky-blue: #8FE3F9;
    --light-purpul: #D9B8FF;
    --light-grey: #DFDFDF;
    --off-white: #FAFAFA;
    /*    end design colours*/
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a:-webkit-any-link {
    text-decoration: none;
}

a:-moz-any-link {
    text-decoration: none;
}

a:any-link {
    text-decoration: none;
}

html {
    font-family: "Red Hat Display", sans-serif;
}

/*end generics*/


.top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.logo {
    grid-column: span 2;
    -ms-flex-item-align: center;
    align-self: center;
    padding: 2rem;
    margin: auto;
}

.header-imgs__one {
    display: none;
}

.header-imgs__left {
    background-image: url("../assets/desktop/image-hero-left.png");
    background-clip: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    margin-left: -0.8rem;
    width: 188px;
    height: 153px;
}

.header-imgs__right {
    background-image: url("../assets/desktop/image-hero-right.png");
    background-clip: border-box;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    margin-right: -0.8rem;
    width: 188px;
    height: 153px;
}

.intro {
    grid-row: 3;
    grid-column: span 2;
    text-align: center;
    padding: 1rem;
}

.intro h2 {
    font-weight: 900;
    padding: 1.8rem 2rem 1rem 2rem;
    font-size: 40px;
}

.intro p {
    font-size: 16px;
    font-weight: 400;
    color: var(--grey);
    padding: 1.8rem;
}

.download__top {
    margin: 10px auto;
    display: inline-block;
    padding: 20px 60px;
    border-radius: 40px;
    background-color: var(--sorta-green);
    color: var(--white);
    font-weight: 800;
}

.download__top:hover,
.download__top:active {
    background-color: var(--active-sorta-green);
}

.version__top {
    color: var(--sky-blue);
}


.what-is-it {
    margin: 10px auto;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 40px;
    background-color: var(--purpul);
    color: var(--white);
    font-weight: 800;

}

.what-is-it:hover,
.what-is-it:active,
.download__bottom:hover,
.download__bottom:active {
    background-color: var(--active-purpul);
}

.intermission svg {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}


.images {
    display: grid;
    grid-template-columns: repeat(2, 151px);
    grid-template-rows: repeat(2, 143px);
    gap: 1.8rem;
    margin: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.images__item {
    width: 151px;
    height: 143px;
    border-radius: 10px;
}

.features {
    display: grid;
}

.features h2 {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--sorta-green);
    padding: 2rem;
}

.features h3 {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    padding: 1.2rem;
}

.features p {
    color: var(--grey);
    font-size: 16px;
    text-align: center;
    width: 327px;
    margin: auto;
}

.bottom {
    margin-top: -3.8rem;
    background-image: url("../assets/mobile/image-footer.jpg");
    background-clip: border-box;
    background-origin: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #4D96A9;
    background-blend-mode: soft-light;
    color: var(--white);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.bottom h2 {
    margin-top: 4rem;
    font-size: 32px;
    text-align: center;
    font-weight: 900;
}

.bottom p {
    text-align: center;
    padding: 1.8rem;
    font-weight: 400;
    font-size: 18px;
}

.download__bottom {
    display: inline-block;
    margin: auto;
    padding: 20px 60px;
    border-radius: 40px;
    background-color: var(--purpul);
    color: var(--white);
    font-weight: 900;
}

.version__bottom {
    color: var(--light-purpul);
}

.attribution {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
}

.attribution a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

.attribution a:-moz-any-link {
    text-decoration: none;
    color: inherit;
}

.attribution a:any-link {
    text-decoration: none;
    color: inherit;
}

.attribution a:hover,
.attribution a:active {
    text-shadow: 0 0 10px var(--sorta-green);
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header-imgs__one {
        background-image: url("../assets/tablet/image-hero.png");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 303px;
        display: block;
        grid-column: span 3;
    }

    .header-imgs__left,
    .header-imgs__right {
        display: none;
    }

    .intro {
        width: 457px;
        margin: auto;
    }

    .images {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        justify-items: center;
        width: 689px;
        margin: auto;
        height: 156px;
    }

    .images__item {
        width: 164px;
    }

    .features h3 {
        font-size: 40px;
        width: 445px;
        margin: auto;
    }

    .features p {
        margin: auto;
        width: 573px;
    }

    .bottom {
        background-image: url("../assets/tablet/image-footer.jpg");
        background-size: cover;
        width: 100%;
        height: auto;
        gap: 0;
    }

    .bottom h2 {
        font-size: 40px;
        width: 457px;
        margin: 4rem auto;
    }

    .bottom p {
        width: 573px;
        margin: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .top {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas:
            ". logo ."
            "left intro right";
    }

    .logo {
        grid-area: logo;
    }

    .header-imgs__one {
        display: none;
    }

    .header-imgs__left {
        background-image: url("../assets/desktop/image-hero-left.png");
        background-size: contain;
        height: 358px;
        width: 100%;
        grid-area: left;
    }

    .intro {
        grid-area: intro;
    }

    .header-imgs__right {
        background-image: url("../assets/desktop/image-hero-right.png");
        background-size: contain;
        height: 400px;
        width: 100%;
        grid-area: right;
    }
    .images {
        grid-template-columns: repeat(4, 1fr);
        /* gap: 10px; */
        justify-items: center;
        width: 689px;
        margin: auto;
        height: 156px;
    }
    .features {
        width: 570px;
        margin: auto;
    }
    .features h3 {
        font-size: 40px;
    }
    .features p {
        width: 570px;
        margin: auto;
    }
    .bottom {
        background-image: url("../assets/desktop/image-footer.jpg");
        grid-template-columns: 320px 400px 280px;
        gap: 1rem;
        align-items: center;
        justify-items: center;
        justify-content: center;
        padding: 2rem;
    }
    .bottom h2,
    .bottom p {
        margin-top: 2rem;
        text-align: left;
    }
    .download__bottom {
        display: inline-block;
        padding: 20px 60px;
        justify-self: end;
    }

    .attribution {
        grid-column: span 3;
    }
}
