/* generics */
:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --maroon: hsl(0, 100%, 25%);
    --attribution-colour: hsl(228, 45%, 44%);
    /* challenge colours */
    --darkish-grey: #7B8BAD;
    --kinda-dark-blue: #162542;
    --orange: #F16718;
    --light-grey: #D8D8D8;
    --light-blue: #E8EFF2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

/* end generics */

body {
    font-family: "Barlow", sans-serif;
    margin: 2rem;
}


header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    grid-template-rows: 1fr;
}

header img {
    margin: 0.8rem 0;
}

.preorder-now-grey {
    margin-top: 0.4rem;
    width: 150px;
    height: 48px;
    background-color: var(--light-grey);
    text-transform: uppercase;
    padding: 1.4rem 0;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: var(--black);
}

.preorder-now-orange {
    margin-top: 4px;
    width: 150px;
    height: 48px;
    background-color: var(--orange);
    text-transform: uppercase;
    padding: 14px 0;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    color: var(--white);
}

.intro h1 {
    font-weight: 800;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 48px;
    margin: 3rem auto;
}

p {
    color: var(--darkish-grey);
    line-height: 26px;
    margin: 3rem auto;
}

.release-info {
    display: grid;
    grid-template-columns:  1fr 2fr;
    justify-content: space-between;
    grid-template-rows: 1fr;
    margin: 2rem auto;
}

.release-info h3 {
    margin: 20px 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--darkish-grey);
    text-align: right;
}

.images {
    margin: 0;
}

.keyboard-alone {
    background-image: url("../assets/mobile/image-keyboard.jpg");
    background-position: top left;
    background-size: cover;
    background-clip: border-box;
    margin-left: 70px;
    border-radius: 20px 0 0 20px;
    width: 275px;
    height: 331px;
}

.keyboard-and-phone {
    background-image: url("../assets/mobile/image-phone-and-keyboard.jpg");
    background-position: top right;
    background-size: cover;
    background-clip: border-box;
    background-color: var(--orange);
    background-blend-mode: overlay;
    opacity: 0.75;
    width: 110px;
    height: 193px;
    margin-top: 20px;
    margin-left: -2rem;
    border-radius: 0 20px 20px 0;
}

.keyboard-and-glass {
    background-image: url("../assets/mobile/image-glass-and-keyboard.jpg");
    background-position: top left;
    background-size: cover;
    width: 240px;
    height: 193px;
    /* display: inline-block; */
    margin-top: -190px;
    margin-left: 100px;
    border-radius: 20px;
    margin-right: 0;
}
.features h1 {
    margin: 50px 20px;
    text-align: center;
    line-height: 36px;
    text-transform: uppercase;
    font-size: 36px;
}
.features h2 {
    font-size: 24;
    font-weight: 800;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 60px;
}

.features p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

.icons {
    width: 65px;
    height: 65px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--orange);
    display: block;
    margin: auto;
    object-fit: contain;
}

/* footer */
footer {
    margin-top: 40px;
    text-align: center;
    color: var(--darkish-grey);
}

.attribution {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    border-top: 1px solid var(--darkish-grey);
}

.attribution a:any-link {
    text-decoration: none;
    color: inherit;
}

.attribution a:hover,
.attribution a:active {
    text-shadow: 0 0 10px var(--attribution-colour);
}

/* tablet styling */
@media screen (max-width: 768px) {
    
    
}