@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --blue: hsl(223, 87%, 63%);
  /* Secondary */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  /* Neutral */
  --grey: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  /* Generic */
  --white: #ffffff;
  --black: #000000;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 0.8fr;
  grid-template-columns: 370px;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

header {
  grid-row: 1;
  display: grid;
  grid-template-rows: repeat(10, 0.4fr);
  gap: 0.8rem;
  grid-template-columns: 375px;
  justify-content: center;
}

.ping-logo {
  grid-row: 3;
  display: block;
  width: 56px;
  height: 24px;
  margin: auto;
}

header h1 {
  grid-row: 5;
  text-align: center;
  color: var(--grey);
  font-size: 22px;
}

.bold-soon {
  color: var(--very-dark-blue);
  font-weight: 700;
}

.subscribe {
  grid-row: 6;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  color: var(--very-dark-blue);
}

.email-fld {
  grid-row: 8;
  width: 281px;
  height: 40px;
  border-radius: 28px;
  border: 1px solid var(--blue);
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: var(--blue);
  padding: 0 1.4em;
  justify-self: center;
}

.notify-me {
  grid-row: 10;
  background-color: var(--blue);
  box-shadow: 0 5px 10px var(--pale-blue);
  border-radius: 28px;
  width: 281px;
  height: 40px;
  justify-self: center;
  color: var(--white);
}

.notify-me:hover,
.notify-me:active {
  background-color: var(--white);
  color: var(--blue);
}

.message-field {
  grid-row: 9;
  font-size: 12px;
  text-align: center;
  color: var(--light-red);
}

.email-fld:invalid {
  border: 1px solid var(--light-red);
}

.hidden {
  display: none;
}

main {
  grid-row: 2;
}

.ping-img {
  display: block;
  width: 320px;
  height: auto;
  margin: auto;
}

footer {
  grid-row: 3;
  display: grid;
  grid-template-rows: repeat(3, 40px);
  grid-template-columns: auto;
  justify-content: center;
  gap: 0.2rem;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  column-gap: 0.2rem;
  grid-template-rows: repeat(4, min-content);
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.feather {
  box-sizing: content-box;
  width: 32px;
  height: 27px;
  color: var(--blue);
  border: 1px solid var(--pale-blue);
  padding: 0.8rem 0.7rem;
  border-radius: 50%;
}

.ping-copyright {
  grid-row: 3;
  font-size: 10px;
  color: var(--grey);
  font-weight: 300;
  text-align: center;
}

.attribution {
  grid-row: 4;
  font-size: 10px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 980px) {
  body {
    grid-template-columns: 1440px;
  }

  header {
    grid-template-columns: 1.8fr 0.2fr;
  }

  .ping-logo {
    grid-column: span 2;
  }

  header h1 {
    grid-column: span 2;
    font-size: 48px;
  }

  .subscribe {
    grid-column: span 2;
  }

  .email-fld {
    grid-column: 1;
    width: 421px;
    justify-self: end;
  }

  .notify-me {
    grid-column: 2;
    grid-row: 8;
    width: 200px;
  }

  .ping-img {
    width: 640px;
    height: 383px;
  }
}