:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--light-gray);
    font-size: 15px;
}

/* card */
.container {
    background-color: var(--white);
    width: 320px;
    border-radius: 20px;
    margin: 6rem auto;
    color: var(--dark-blue);
    padding: 20px;
}

.qr-code {
    display: block;
    width: 75vw;
    margin: auto;
    border-radius: 10px;
}

.card-header {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: 30px auto;
}

.card-description {
    font-size: 15px;
    color: var(--grayish-blue);
    text-align: center;
    margin: 20px auto;
}


/* footer */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}