/* generics */
:root {
    --very-dark-blue: hsl(219, 43%, 16%);
    --greyish-blue: hsl(218, 20%, 36%);
    --pale-beige: hsl(30, 33%, 93%);
    --sorta-white: hsl(30, 29%, 97%);
    --purpul: hsl(264, 100%, 69%);
    --piiink: hsl(292, 76%, 54%);
    --orangeish: hsl(31,100%,65%);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}
html {
    font-family: "Epilogue", sans-serif;
}
body {
    margin: 2rem auto;
}
/* end generics */

form {
    display: inline;
}
.button {
    cursor: pointer;
    width: 180px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid black;
}


