/* generics */
:root {

}
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}
html {
    font-family: "Epilogue", sans-serif;
}
body {
    margin: 2rem auto;
}
/* end generics */
 